{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">

            </div>
            <h4 class="page-title">{{page_title}}</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card card-body">
            <h4 class="card-title">{{contribution.name}}</h4>
            <div style="min-height: 65px;">
                <p class="card-text">{{contribution.description}}</p>
            </div>
            <p class="card-text">
                <small class="text-muted">{{contribution.created_at}}</small>
            </p>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card" id="tooltip-container">
            <div class="card-body">
                <!-- <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="More Info"
                    aria-label="More Info"></i> -->
                <h4 class="mt-0 font-16">Income Status</h4>
                <h2 class="text-primary my-3 text-center">TZS <span
                        data-plugin="counterup">{{contribution.balance|intcomma}}</span></h2>
                <p class="text-muted mb-0">Total income: {{contribution.cash.all.count}}
                    <!-- <span class="float-end"><i
                            class="fa fa-caret-up text-success me-1"></i>10.25%</span> -->
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card" id="tooltip-container1">
            <div class="card-body">
                <!-- <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container1"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="More Info"
                    aria-label="More Info"></i> -->
                <h4 class="mt-0 font-16">Pledge Status</h4>
                <h2 class="text-primary my-3 text-center"><span
                        data-plugin="counterup">{{contribution.pledge.all.count}}</span></h2>
                <p class="text-muted mb-0">Total pledge: {{contribution.pledge.all.count}}
                    <!-- <span class="float-end"><i
                            class="fa fa-caret-down text-danger me-1"></i>7.85%</span> -->
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card" id="tooltip-container2">
            <div class="card-body">
                <!-- <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container2"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="More Info"
                    aria-label="More Info"></i> -->
                <h4 class="mt-0 font-16">Objective</h4>
                <h2 class="text-primary my-3 text-center">TZS <span
                        data-plugin="counterup">{{contribution.objective|intcomma}}</span></h2>
                <p class="text-muted mb-0">Remaining: {{contribution.objective|sub:contribution.balance|intcomma}}
                    <!-- <span class="float-end"><i
                            class="fa fa-caret-up text-success me-1"></i>3.64%</span> -->
                </p>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xl-12">
        <!-- sample modal content -->

        <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cash Form</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'finance:add_cash_contribution' id=contribution.id %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body p-4">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="field-1" class="form-label">Name*</label>
                                        {% render_field cash_form.name class="form-control" placeholder="Name" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="field-2" class="form-label">Description</label>
                                        {% render_field cash_form.description class="form-control" placeholder="Description" rows="3" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="field-3" class="form-label">Amount*</label>
                                        {% render_field cash_form.amount class="form-control" placeholder="Amount" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="field-3" class="form-label">Pledger</label>
                                        {% render_field cash_form.pledger class="form-control" placeholder="Pledger" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="field-3" class="form-label">Contributor</label>
                                        {% render_field cash_form.contributor class="form-control" placeholder="Contributor" %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal -->

    </div> <!-- end col -->
    <div class="col-12">
        {% include 'alert.html' %}
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <h4 class="header-title">Cash Contributions</h4>
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                        data-bs-target="#con-close-modal">
                        <span class="btn-label"><i class=" fas fa-plus"></i></span>Cash
                    </button>

                </div>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ref. No.</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Pledger</th>
                            <th>Contributor</th>
                            <th>Received By</th>
                            <th>Created at</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for cont in contribution.cash.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{cont.ref_no}}</td>
                            <td>{{cont.name}}</td>
                            <td>{{cont.description}}</td>
                            <td>{{cont.amount|intcomma}}</td>
                            <td>{{cont.pledger}}</td>
                            <td>{{cont.contributor}}</td>
                            <td>{{cont.received_by}}</td>
                            <td>{{cont.created_at}}</td>
                            <td>
                                <!-- <a href="" class="waves-effect waves-light text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a> -->
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
    <div class="col-xl-12">
        <!-- sample modal content -->

        <div id="pledge-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Pledge Form</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'finance:add_pledge' id=contribution.id %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body p-4">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="field-1" class="form-label">Name*</label>
                                        {% render_field pledge_form.name class="form-control" placeholder="Name" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="field-1" class="form-label">Phone*</label>
                                        {% render_field pledge_form.phone class="form-control" placeholder="Phone" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="field-3" class="form-label">Amount*</label>
                                        {% render_field pledge_form.amount class="form-control" placeholder="Amount" %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        <label for="field-3" class="form-label">Pledger</label>
                                        {% render_field pledge_form.pledger class="form-control" placeholder="Pledger" %}
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal -->

    </div> <!-- end col -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <h4 class="header-title">Pledges</h4>
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                        data-bs-target="#pledge-close-modal">
                        <span class="btn-label"><i class=" fas fa-plus"></i></span>Pledge
                    </button>

                </div>

                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Amount</th>
                            <th>Pledger</th>
                            <th>Completed</th>
                            <th>Created at</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for cont in contribution.pledge.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{cont.name}}</td>
                            <td>{{cont.phone}}</td>
                            <td>{{cont.amount}}</td>
                            <td>{{cont.pledger}}</td>
                            <td>{{cont.completed}}</td>
                            <td>{{cont.created_at}}</td>
                            <td>
                                <!-- <a href="" class="waves-effect waves-light text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a> -->
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

<!-- end row-->
{% endblock content %}