



{% block content %}


<div class="card">
    <div class="card-body">

        <h4 class="header-title">{{table_title}}</h4>
        <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dt-buttons btn-group flex-wrap"> <button
                            class="btn btn-secondary buttons-copy buttons-html5 btn-light" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Copy</span></button> <button
                            class="btn btn-secondary buttons-print btn-light" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Print</span></button> <button
                            class="btn btn-secondary buttons-pdf buttons-html5 btn-light" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button> </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="datatable-buttons_filter" class="dataTables_filter"><label>Search:<input type="search"
                                class="form-control form-control-sm" placeholder=""
                                aria-controls="datatable-buttons"></label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatable-buttons"
                        class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed"
                        aria-describedby="datatable-buttons_info" style="width: 1011px;">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Parish</th>
                                <th>Created At</th>
                                <th>Action</th>

                            </tr>
                        </thead>


                        <tbody>
                            
                            {% for data in kigango  %}

                            <tr class="odd">
                                <td>{{forloop.counter}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.parish}}</td>
                                <td>{{data.created_at}}</td>
                                <td>
                                    <a href="{% url 'update-kigango' data.id %}" class="jsgrid-button jsgrid-edit-button" type="button"><strong>Edit</strong></a> 
                                </td>
                            
                            </tr>
                                
                            {% endfor %}
                                
                           

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
                        Showing 1 to 10 of 57 entries</div>
                </div>
                <!-- pagination -->
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                        <ul class="pagination pagination-rounded">
                            <li class="paginate_button page-item previous disabled" id="datatable-buttons_previous">
                                <a href="#" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0"
                                    class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                            </li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="datatable-buttons"
                                    data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                            <li class="paginate_button page-item next" id="datatable-buttons_next"><a href="#"
                                    aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0" class="page-link"><i
                                        class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end card body-->
</div> <!-- end card -->
    
{% endblock content %}

    