{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">{{page_title}}</h4>
        </div>
    </div>
</div>



<div class="row mt-3">
    {% include "alert.html" %}
    <div class="col-12">


        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-12">


                        <div class="card">
                            <div class="card-body">



                                <div class="d-flex justify-content-between mb-2">
                                    <h4 class="header-title">{{table_title}}</h4>
                                    <a href="" type="button" class="btn btn-primary waves-effect waves-light"
                                        data-bs-toggle="modal" data-bs-target="#custom-modal"><i
                                            class="mdi mdi-plus-circle me-1"></i> Add Deposit</a>

                                </div> <!-- end col-->


                                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Huduma</th>
                                            <th>Description</th>
                                            <th>amount</th>
                                            <th>Payment Method</th>
                                            <th>Account Number</th>
                                            <th>Bank Name</th>
                                            <th>Depositor</th>
                                            <th>Created At</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for data in deposit  %}

                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.prop}}</td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.amount}}</td>
                                            <td>{{data.payment_method}}</td>
                                            <td>{{data.account_no}}</td>
                                            <td>{{data.bankname}}</td>
                                            <td>{{data.depositor}}</td>
                                            <td>{{data.created_at}}</td>
                                            <td>
                                                <a href="{% url 'finance:update-deposit' data.id %}"
                                                    class="jsgrid-button jsgrid-edit-button" type="button"><i
                                                        class="fe-edit"></i></a>

                                                <a href="{% url 'finance:credit-account' data.id %}" class="jsgrid-button jsgrid-edit-button" type="button">credit</a>


                                            </td>

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div> <!-- end card body-->
                        </div> <!-- end card -->


                    </div> <!-- end col -->

                </div> <!-- end row -->
            </div> <!-- end card body-->
        </div> <!-- end card -->


    </div>
    <!-- end col-12 -->
</div> <!-- end row -->


{% include "deposit/add.html" %}




{% endblock content %}