{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8" />
    <title>Church Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="{% static 'libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />

    <!-- third party css -->
    <link href="{% static 'libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static 'libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static 'libs/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
        type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
    <link href="{% static 'css/config/default/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- icons -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- third party css -->


    
   
</head>

<!-- body start -->

<body class="loading" data-layout-mode="default" data-layout-color="light" data-layout-width="fluid"
    data-topbar-color="dark" data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size='default'
    data-sidebar-user='false'>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        {% include 'topbar.html' %}
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->

        <!-- Left Sidebar End -->
        {% include "sidebar.html" %}
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    {% block content %}

                    {% endblock content %}

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            {% include 'footer.html' %}
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    {% include "sidebar_right.html" %}
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    
    <!-- Vendor js -->
    <script src="{% static 'js/vendor.min.js' %}"></script>

    <!-- third party js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <!-- third party js ends -->

    <!-- Datatables init -->
    <script src="{% static '/js/pages/datatables.init.js' %}"></script>

    <!-- Plugins js-->
    <script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'libs/selectize/js/standalone/selectize.min.js' %}"></script>

    <!-- Dashboar 1 init js-->
    <script src="{% static 'js/pages/dashboard-1.init.js' %}"></script>

    <!-- App js-->
    <script src="{% static 'js/app.min.js' %}"></script>


    <script>

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    <script>
        $(".alert").fadeTo(2000, 500).slideUp(600, function () {
            $(".alert").slideUp(600);
        });
    </script>
   

</body>


</html>